<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning</title>
</head>
<body>
    <p>Welcome to Learning Blog</p>
    <p>Machine Learning is a part of Artificial Intelligence where a model is trained with recorded data and expects prediction/inference for new data from that model. For example, a model can be trained with past purchasing data of a Super Market and can get accurate predictions that which product can be more in demand in various seasons. </p>

    

    
</body>
</html>